@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  background-color: hsl(30, 54%, 90%);
  color: hsl(30, 10%, 34%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  min-height: 100vh;
}

h1 {
  color: hsl(18, 12%, 27%);
  font-family: "Young serif", serif;
}

.recipe-image {
  object-position: center;
  
  border-radius: 15px;
  width: 100%;
  object-fit: cover;
}

.container {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 600px;
  border-radius: 20px;
  background-color: white;
  padding: 25px;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 2rem;
  font-family: "Young serif", serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.preparation {
  padding: 10px;
  background-color: hsl(330, 100%, 98%);
  padding-left: 30px;
  border-radius: 10px;
}
.preparation ul {
  margin-top: 0;
  padding-left: 20px;
}
.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

li {
  line-height: 1.75;
  padding-left: 10px;
}
ul ol {
  padding-left: 20px;
}
.instructions li::marker {
  color: hsl(332, 51%, 32%);
  font-weight: 800;
  padding-right: 20px;
}
.nutrition-table {
  border-collapse: collapse;
  line-height: 1.75;
  width: 100%;
}
.nutrition-table td,
.nutrition-table th  {
  width: 200px;
  padding-left: 20px;
  border-bottom-style: solid;
  border-bottom-color: hsl(31deg 5.69% 86.64%);
  border-bottom-width: 2px;
}
.nutrition-table th {
  text-align: left;
}
.unit-nutrition {
  color: hsl(14, 45%, 36%);
  font-weight: bolder;
}

hr {
  border: none;
  height: 2px;
  background-color: hsl(31deg 5.69% 86.64%);
}

@media screen and (max-width: 375px) {
    body {
        background-color: white;
        margin: 0;
    }
    .container{
        margin: 0;
        padding: 0;
        
    }
    .recipe-image{
        margin: 0;
        border-radius: 0;
    }
    #details{
        padding-left: 20px;
        padding-right: 20px;
    }
}