* {
  margin: 0;
}

body {
  color: hsl(0, 7%, 71%);
  padding: 2em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card {
  padding: 1.5em;
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.white-card {
  box-shadow: 0px 5px 20px hsl(0, 1%, 85%);
}

.white-card .person-name,
.white-card .principal-text {
  color: hsl(0, 1%, 35%);
  font-weight: bold;
}

.profil-description {
  display: flex;
  align-content: center;
  gap: 1em;
}

.profil-description img {
  border-radius: 50%;
}
.person-details {
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 0.25em;
}
.person-name {
  color: white;
  font-weight: 400;
}

#daniel-card {
  background-color: hsl(263, 55%, 52%);
}
#jonathan-card {
  background-color: hsl(217, 19%, 35%);
}
#patrick-card {
  background-color: hsl(219, 29%, 14%);
}
.principal-text {
  color: white;
  font-size: 1.15em;
  font-weight: 400;
}

.first-section,
.second-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-between;
}

.top,
.bottom {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media only screen and (min-width: 769px) {
  main {
    flex-direction: row;
    padding: 1.5em;
  }
  .first-section {
    flex: 3;
    gap: 1em;
  }
  .second-section {
    flex: 1;
  }
  .top,
  .bottom {
    flex-direction: row;
  }

  #daniel-card {
    flex: 2;
  }
  #jonathan-card {
    flex: 1;
  }
  #jeannette-card {
    flex: 1;
  }
  #patrick-card {
    flex: 2;
  }
  #kira-card {
    height: 100%;
    justify-content: space-around;
  }
}
